{% extends 'base.html.twig' %}

{% block title %}Thread index{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Threads</h1>

        <form action="{{ path('app_thread_indexf') }}" method="get" class="mb-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="keyword">Keyword:</label>
                        <input type="text" id="keyword" name="keyword" class="form-control" value="{{ app.request.query.get('keyword') }}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="sortBy">Sort By:</label>
                        <select id="sortBy" name="sortBy" class="form-control">
                            <option value="">-- Select --</option>
                            <option value="createdAtDescending" {% if app.request.query.get('sortBy') == 'createdAtDescending' %}selected{% endif %}>Created At (Descending)</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Search & Sort</button>
        </form>

        <div class="row">
            {% for thread in threads %}
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ thread.title }}</h5>
                            <p class="card-text">Topic: {{ thread.topic }}</p>
                            <p class="card-text">Created At: {{ thread.createdat ? thread.createdat|date('Y-m-d H:i:s') : '' }}</p>
                            <p class="card-text">Author: {{ thread.author }}</p>
                            <a href="{{ path('app_thread_showf', {'id': thread.id}) }}" class="btn btn-primary">Show</a>
                            <a href="{{ path('app_thread_editf', {'id': thread.id}) }}" class="btn btn-secondary">Edit</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    <p>No threads found.</p>
                </div>
            {% endfor %}
        </div>

        <a href="{{ path('app_thread_newf') }}" class="btn btn-success">Create New Thread</a>
    </div>
{% endblock %}
