{% extends 'back.html.twig' %}

{% block title %}
Exposees index
{% endblock %}

{% block body %}
    <h1>Exposees index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Nom</th>
                <th>Date Debut</th>
                <th>Date fin</th>
                <th>Produits</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exposee in exposees %}
            <tr>
            <td>{{ exposee.id }}</td>
<td><img src="{{ asset('uploads/' ~exposee.imageExposees) }}" style="width:100px; height:100px;" alt=""></td>
            <td>{{ exposee.nomE }}</td>
            <td>{{ exposee.dateDebut ? exposee.dateDebut|date('Y-m-d') : '' }}</td>
            <td>{{ exposee.dateFin ? exposee.dateFin|date('Y-m-d') : '' }}</td>
            <td>{{ exposee.produitsExistants }}</td>

                <td>
                    <a href="{{ path('app_exposees_show', {'id': exposee.id}) }}">show</a>
                    <a href="{{ path('app_exposees_edit', {'id': exposee.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_exposees_new') }}">Create new</a>
{% endblock %}
