<img src="{{ asset('uploads/logo.jpg') }}"  style=" width:100px; height:100px;"alt="Description de votre image">
{% block title %}<h1>LISTES DES EVENEMENTS</h1>{% endblock %}

{% block body %}
<div>
<table  border="1">
        <thead >
            <tr>
            
            
                <th>image</th>
                <th>theme</th>
                <th>type</th>
                <th>dateDebut</th>
                <th>dateFin</th>
                <th>nbrParticipant</th>
                <th>Nom Sponsor</th>
                
                          
            </tr>  
        </thead>
            <tbody>
                        
            
                 {% for evenement in evenements %}
            <tr>
                <td>    <img src= "{{ asset('uploads/' ~evenement.ImageEvenement)}}" style=" width:70px; height:50px; " alt=""></td> 
                <td>  {{ evenement.themeEvenement }}</td>
                <td>  {{ evenement.typeEvenement }}</td>
                <td>  {{ evenement.dateDebut ? evenement.dateDebut|date('Y-m-d') : '' }}</td>
                <td>  {{ evenement.dateFin ? evenement.dateFin|date('Y-m-d') : '' }}</td>
                <td>  {{ evenement.nbrParticipant }}</td>
                <td>  {{ evenement.Publicite }}</td>
                </tr>
                        {% endfor %}
             </tbody>
</table>
</div>
{% endblock %}