{% extends 'back.html.twig' %}


{% block title %}
evenement index
{% endblock %}

{% block body %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                </ol>
            </nav>
        </div>
    <div class="row ">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div style="display: flex">
                        <div class="col-md-5">
                        </div>
                        <form method="post" class="forms-sample" style="margin-left: -42px" >
                            <div class="form-group col-md-4" style="display: flex; width: 100%!important; margin: 0px!important;">

                                <div class="form-check">
                                    <label class="form-check-label" style="width: 92px;margin-left: -2px;margin-right: 10px;">
                                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="themeEvenement">Nom</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label" style="width: 86px;margin-left: -2px;margin-right: 10px;">
                                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="typeEvenement" >Type</label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label" style="width: 86px;margin-left: -2px;margin-right: 10px;">
                                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="nbrParticipant" >nbrParticipant</label>
                                </div>

                                <button type="Submit" class="btn btn-success btn-fw" style="margin: auto; ">Sort</button>
                            </div>
                        </form>

                    </div>

                    <ul class="navbar-nav w-100" style="margin-top: 18px;">
                        <li class="nav-item w-100">
                            <form name="Search-method" id="Search-method"method="post" class="forms-sample" style="display: flex">
                                <div class="form-group col-md-5">
                                    <label style="margin-top: 11px;margin-left: 10px;margin-right: 14px;padding-bottom: 7px;;">Option Recherche</label>
                                    <select name="optionsearch" class="js-example-basic-single" style="width: 200px;height: 38px; color: white; background-color: #191c24; border-radius: 4px;text-align: center;border: 2px solid #0090e7;margin-right: 15px;">
                                        <option value="">Choisi un Critére</option>
                                        <option value="themeEvenement">Nom Evenement</option>
                                        <option value="typeEvenement">Type Evenement</option>
                                        <option value="dateDebut">Debut Evenement</option>
                                        <option value="dateFin">Fin Evenement</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-7">
                                    <div class="input-group">
                                        <input name="Search" type="text" class="form-control" placeholder="Search Events" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-sm btn-primary" type="Submit">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>image</th>
                <th>theme</th>
                <th>type</th>
                <th>dateDebut</th>
                <th>dateFin</th>
                <th>nbrParticipant</th>
                <th>Nom Sponsor</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.id }}</td>
                <td><img src= "{{ asset('uploads/' ~evenement.ImageEvenement)}}" style=" width:100px; height:100 px; " alt=""></td> 
                <td>{{ evenement.themeEvenement }}</td>
                <td>{{ evenement.typeEvenement }}</td>
                <td>{{ evenement.dateDebut ? evenement.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.dateFin ? evenement.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.nbrParticipant }}</td>
                <td>{{ evenement.Publicite }}</td>
                <td>
                    <a href="{{ path('app_evenement_show', {'id': evenement.id}) }}">show</a>
                    <a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}">edit</a>
                    <td><a href="{{ path('app_qr_codes', {'id': evenement.id}) }}">qr code</a></td>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_evenement_new') }}">Create new</a>

    
    <p><a href="{{ path('generator_serviceEvenement') }}" class="btn btn-primary px-3 py-1">PDF</a></p>
    <p><a href="{{ path('app_evenement_indexstat') }}" class="btn btn-primary px-3 py-1">stat</a></p>
{% endblock %}
